@{
    ViewBag.Title = "Contact";
}
@*
    <main aria-labelledby="title">
        <h2 id="title">@ViewBag.Title.</h2>
        <h3>@ViewBag.Message</h3>

        <address>
            One Microsoft Way<br />
            Redmond, WA 98052-6399<br />
            <abbr title="Phone">P:</abbr>
            425.555.0100
        </address>

        <address>
            <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
            <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
        </address>
    </main>*@
<style>
    .about_name {
        background-color: cornsilk;
        margin-top: 180px;
        padding: 7px 0px;
        width: 100%;
    }

    h2 {
        text-align: center;
        font-family: 'Times New Roman', Times, serif;
    }

    .col-4 {
        background-color: cornsilk;
        color: #fff; 
        padding: 20px 10px;
        height:fit-content;
    }

    .bg-success1 {
        background-color: #f2f2f2;
        color: #fff;
        padding: 20px;
        margin-left: 40px;
        margin-bottom: 150px;
    }

    .bg-warning {
        background-color: #f2f2f2;
        padding: 20px;
        padding-right: 20px;
        margin-left: 40px;
    }

    .bang_hien {
        border-radius: 5px;
        padding: 10px;
        margin-top: 10px;
        margin-left: 25px;
    }

    .contact-wrapper {
        background-color: #ffc107;
    }
    .tuine1{
        padding: 10px 0px;
        text-align:center;
    }
    .tuine1 img{
        text-align: center;
        padding: 0px 20px;
    }

    .chu p {
        text-align: left;
        padding: 3px 35px;
        justify-content: center;
    }

</style>
<section>
    <div class="about_name">
        <h2>THÔNG TIN LIÊN HỆ</h2>
    </div>

    <div class="tuine">
        <div class="tuine1">
            <div class="row">
                <div class="col-12">
                    <img src="~/image/anh_logo_lienhe/anh2.png" style="width: 130px;">
                    <img src="~/image/anh_logo_lienhe/anh3.png" style="width: 120px">
                    <img src="~/image/anh_logo_lienhe/anh4.png" style="width: 180px">
                </div>
            </div>
            <div class="chu">
                <p>
                    Chúng tôi cam kết mang đến cho bạn những sản phẩm chất lượng cao, được làm từ các loại da và vật liệu cao cấp, đảm bảo độ bền và sự sang trọng. Mỗi sản phẩm tại THIHOA Store đều trải qua quá trình kiểm tra nghiêm ngặt để đảm bảo đáp ứng những tiêu chuẩn khắt khe nhất về chất lượng và thẩm mỹ.
                </p>
                <p>
                    Hãy đến và trải nghiệm mua sắm tại THIHOA Store, nơi bạn không chỉ tìm thấy những chiếc túi xách hoàn hảo mà còn cảm nhận được sự chăm sóc tận tình và chuyên nghiệp từ đội ngũ nhân viên của chúng tôi. THIHOA Store – nơi biến mỗi khoảnh khắc của bạn trở nên thật phong cách và đáng nhớ!
                </p>
            </div>
        </div>

        <hr style="margin-left: 250px; margin-right: 250px; margin-top:5px;">
    </div>

    <div class="bang_hien">
        <div class="row">
            <div class="col-4">
                <img src="~/image/anh_logo_lienhe/43.jpg" style="height: 530px;">
            </div>

            <div class="col-3 bg-success1">
                <div class="contact-wrapper text-center" style="background-color: #D3C734; margin-bottom: 20px; padding: 20px 10px;">
                    <div class="contact-title">
                        <h4 style="font-size: 30px;text-align: center;">
                            Địa chỉ trụ sở:
                        </h4>
                    </div>
                    <div class="contact-info" style="text-align: center;">
                        189 Dương Bá Trạc, Phường 01, Quận 8, Tp. HCM
                    </div>
                </div>
                <div class="contact-wrapper text-center" style="background-color: #D3C734; margin-bottom: 20px;padding: 20px 10px;">
                    <div class="contact-title">
                        <h4 style="font-size: 30px; text-align: center;">
                            Số điện thoại:
                        </h4>
                    </div>
                    <div class="contact-info" style="text-align: center;">
                        <a href="tel:1900 63 60 66">1900 252 538</a>
                    </div>
                </div>
                <div class="contact-wrapper text-center" style="background-color: #D3C734; margin-bottom: 10px;padding: 20px 10px;">
                    <div class="contact-title">
                        <h4 style="font-size: 30px; text-align: center;">
                            Email:
                        </h4>
                    </div>
                    <div class="contact-info" style="text-align: center;">
                        <a href="mailto:info@royalhelmet.com.vn">customers@charleskeith.vn</a>
                    </div>
                </div>
            </div>

            <div class="col-4" style="margin-left: 35px">
                 <img src="~/image/anh_logo_lienhe/thihoa.jpg" style="height: 530px">
            </div>
        </div>
    </div>
</section>