
@{
    ViewBag.Title = "VeChungToi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .about_name{
        background-color:cornsilk;
        margin-top: 180px;
        padding: 7px 0px;
        width: 100%;
    }
    h2 {
        text-align: center;
        font-weight: bold;
    }
    .about_vanban p{
        text-align: left;
        padding: 5px 35px;
        justify-content:center;
    }

    .hinh_anh{
        text-align:center;
        padding: 10px 0px;
    }

    .chu_hien p {
        text-align: left;
        padding: 5px 35px;
        justify-content: center;
    }

    h5{
        padding: 5px 35px;
    }
</style>
<div class="about_name">
    <h2 style="font-family: Cambria">VỀ CHÚNG TÔI</h2>
</div>
<div class="about">
    <div class="hinh_anh">
        <img src="~/image/banner-gioi-thieu.jpg" style="width: 850px">
    </div>
    <div class="about_vanban">
        <h5>THIHOA STORE – DẪN ĐẦU XU HƯỚNG THỜI TRANG</h5>
        <p>
            Chào mừng bạn đến với THIHOA Store – thiên đường của những chiếc túi xách thời trang và đẳng cấp!
            Chúng tôi tự hào là cửa hàng cung cấp các dòng túi xách đa dạng,
            từ phong cách thanh lịch đến năng động, phù hợp với mọi nhu cầu và sở thích của phái đẹp.
        </p>
        <p>
            Tại THIHOA Store, chúng tôi luôn chú trọng đến chất lượng sản phẩm và sự hài lòng của khách hàng. Mỗi chiếc túi xách được chọn lọc kỹ lưỡng,
            từ chất liệu đến thiết kế, nhằm mang đến cho bạn trải nghiệm mua sắm hoàn hảo nhất.
            Bên cạnh đó, đội ngũ nhân viên nhiệt tình và chuyên nghiệp của chúng tôi luôn sẵn sàng tư vấn và hỗ trợ bạn chọn lựa những sản phẩm ưng ý nhất.
        </p>
    </div>
    <div class="chu_hien">
        <p>
            Hãy đến với THIHOA Store để khám phá và sở hữu những mẫu túi xách thời thượng, giúp bạn tự tin và tỏa sáng trong mọi hoàn cảnh! Chúng tôi luôn nỗ lực không ngừng để mang đến cho bạn những sản phẩm và dịch vụ tốt nhất.
            <br />
            THIHOA Store – Nơi gửi gắm phong cách, tôn vinh vẻ đẹp của bạn!
        </p>
        <div class="hinh_anh">
            <img src="~/image/nen4.jpg">
        </div>
        <h5>CAM KẾT - SỰ TIN TƯỞNG CỦA CỬA HÀNG VÀ KHÁCH HÀNG</h5>
        <p>
            Tại THIHOA Store, chúng tôi hiểu rằng mỗi chiếc túi xách không chỉ là một phụ kiện thời trang mà còn là một phần thể hiện cá tính và phong cách riêng của mỗi người.
            Vì thế, bộ sưu tập của chúng tôi không ngừng được cập nhật với những xu hướng mới nhất từ các nhà thiết kế hàng đầu, giúp bạn luôn nổi bật và tự tin mỗi khi xuất hiện.
        </p>
        <p>
            Chúng tôi cam kết mang đến cho bạn những sản phẩm chất lượng cao, được làm từ các loại da và vật liệu cao cấp, đảm bảo độ bền và sự sang trọng.
            Mỗi sản phẩm tại THIHOA Store đều trải qua quá trình kiểm tra nghiêm ngặt để đảm bảo đáp ứng những tiêu chuẩn khắt khe nhất về chất lượng và thẩm mỹ.
        </p>
        <div class="hinh_anh">
            <img src="~/image/nen5.jpg" style="width: 550px">
        </div>
        <p>
            Ngoài việc cung cấp sản phẩm tuyệt vời, THIHOA Store còn chú trọng đến dịch vụ khách hàng hoàn hảo. Chúng tôi hiểu rằng mỗi khách hàng đều có nhu cầu và sở thích riêng, vì vậy chúng tôi luôn sẵn sàng lắng nghe 
            và đáp ứng mọi yêu cầu của bạn. Dịch vụ chăm sóc khách hàng của chúng tôi hoạt động 24/7, luôn sẵn sàng giải đáp mọi thắc mắc và hỗ trợ bạn trong suốt quá trình mua sắm.
        </p>
        <p>
            Hơn nữa, THIHOA Store cũng mang đến cho khách hàng nhiều chương trình khuyến mãi hấp dẫn và các chính sách ưu đãi đặc biệt. Bạn sẽ có cơ hội sở hữu những chiếc túi xách đẳng cấp
            với mức giá cực kỳ ưu đãi, cùng nhiều quà tặng và dịch vụ hậu mãi chu đáo.
        </p>
    </div>
</div>

