
@{
    ViewBag.Title = "OrderConfirmation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="confirmation-message">
    <h2>@ViewBag.Message</h2>
    <p>Cảm ơn bạn đã mua sắm với chúng tôi. Chúng tôi sẽ xử lý đơn hàng của bạn sớm nhất có thể.</p>
</div>


